/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.375;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    hyphens:auto;
    color: white;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* =Baseline
-------------------------------------------------------------- */

body	{
	width: 900px;
	margin: 50px auto 50px auto;
	font-size: 16px;
	background: #333;
	font-family: "Merriweather", serif;
	font-weight: 300;

}
.gallery	{
	display: block;
	overflow: auto;
}
a	{
	color: black;
}

/* =Nav
-------------------------------------------------------------- */

.logo	{
	position: fixed;
	width: 50px;
	height: 50px;
	margin-left: -52px;
	background: url('/media/icon.svg');
	opacity: .8;
}
/* = Sections
-------------------------------------------------------------- */

section 	{
	position: relative;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: auto;
}

/*--- = About */
footer 	{
	padding: 40px 0;
	margin: 0;
	overflow: auto;
	color: black !important;
	background-color: #EEE;
}

footer div	{
	text-align: center;
	display: block;
	border-box: border-box;
}
footer a{
	text-decoration: none;
}
h1	{
	font-weight: 700;
	font-size: 24px;
}

h2	{
	font-size: 18px;
	line-height: 24px;
}
h3	{
	font-size: 16px;
}

/* = Images
-------------------------------------------------------------- */

figure	{
	width: 450px;
	height: 450px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #000;
		box-shadow: 0px 0px 5px black;
}
figure a	{
	display: block;
}
img {

	transition: opacity 0.2s;
}
figure img	{
	z-index: 2;

}
figure a:hover img {
	opacity: 0.6;
}
figure.folder a:before {
	content: " ";
	background-image: url('media/folder.svg');
	display: block;
	font-size: 40px;
	line-height: 1em;
	height: 1em;
	width: 1em;
	color: #fff;

	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;

}
figure:hover a:before	{
	opacity: 1;
}
figure:hover figcaption	{
	opacity: .8;
}
